// Styling for the pollarchive section

/*
#pollarchive {
	h2.section-heading {
		color: $primary-blue;
	}

	.card {
		border-radius: 0;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    	border-color: rgba(0, 0, 0, 0.05);
		margin: 15px;
		padding: 15px;

		.card-header, .card-footer {
			border: none;
			background-color: white;
		}

		.poll-img {
			margin-bottom: 15px;
		}

		.card-header {
			@include body-font;
			background-color: transparent;
			padding: none;
			padding-bottom: 0px;
			color: $primary-red;
			font-size: 12px;
			text-transform: uppercase;
			text-align: right;
			font-weight: 700;
			letter-spacing: 1px;
		}

		.card-title {
			@include body-font;
		}

		.card-footer {
			margin: 0px auto;
			text-align: center;
			padding: 0px 2px 5px 10px;
		}

		.progress {
			margin-bottom: 10px;
			height: 2.5rem;
			border-radius: 0;
			overflow: scroll;
			background-color: #f8f8f8;

			.progress-bar {
				text-align: left;
				padding: 0px 0px 0px 15px;
				background-color: $primary-red;
				color: white;
				font-size: 15px;
				font-weight: 500;
			}
		}
	}

	.icon {
		i {
			font-size: 20px;
			left: 9px;
			top: 10px;
			color: $primary-blue;
		}

		&.social {
			float: right;
			margin: 0 5px 8px 0;
			cursor: pointer;
			color: $primary-blue;
			transition: 0.25s;
			-moz-transition: 0.25s;
			-webkit-transition: 0.25s;
			-o-transition: 0.25s;
			margin-right: 15px;
		}
	}

	.load-more {
		text-align: center;
		.btn {
			@include body-font;
			padding: 20px 40px 20px 40px;
			border-radius: 50px;
			background-color: $primary-red;
			border: none;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;
			margin-top: 40px;
			box-shadow: inset 2px -4px darken($primary-red, 10%);

			&:hover {
				background-color: darken($primary-red, 10%) !important;
				}

			&:active {
				background-color: darken($primary-red, 10%) !important;
				}
		}
	}
}
*/
